
*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    
}
/* this is for management team */

.main{
 
    padding:15px 9%;
    padding-bottom: 100px;
}


.main .heading{
    text-align: center;
    padding-bottom: 15px;
    color: #040e2c;
    font-size: 50px;
}

.main .heading-two{
    margin: 2%;
    text-align: center;
    padding-bottom: 15px;
    color: #040e2c;
    font-size: 25px;
    }



.main .all{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap:15px;
}

.main .all .box{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: #040e2c;
    text-align: center;
    padding:30px 20px;
}

.main .all .box img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.main .all .box h3{
    color:#fff;
    font-size: 22px;
    padding:10px 0;
}


.main .all .box p{
    color:#fff;
    font-size: 15px;
    line-height: 1.8;
}

.main .all .box:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.03);
}

            /* this is for non-teaching staffs */

    
            .main .non{
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
                gap:15px;
            }
            
            .main .non .box{
                box-shadow: 0 5px 10px rgba(0,0,0,.2);
                border-radius: 5px;
                background: #040e2c;
                text-align: center;
                padding:30px 20px;
                
            }
            
            .main .non .box img{
                height: 80px;
                width: 80px;
                border-radius: 50%;
            }
            
            .main .non .box h3{
                color:#fff;
                font-size: 22px;
                padding:10px 0;
            }

            .main .non .box:hover{
                box-shadow: 0 10px 15px rgba(0,0,0,.3);
                transform: scale(1.03);
            }




@media (max-width:768px){
    .main{
        padding:20px;
    }
}