@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

:root {
  --primary: #ec994b;
  --white: #ffffff;
  --bg: #f5f5f5;
}

html {
  font-family: "poppins", sans-serif;
  scroll-behavior: smooth;
}

@media screen and (min-width: 1440px) {
  html {
    zoom: 1.0;
  }
}

@media screen and (min-width: 2560px) {
  html {
    zoom: 1.2;
  }
}

@media screen and (min-width: 3860px) {
  html {
    zoom: 2.0;
  }
}




::-webkit-scrollbar {
  width: 1.3rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}

body {
  background: var(--bg);
}

.container {
  max-width: 124rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.section-subheading {
  font-size: 4rem;
  border-top-width: 0px;
  margin-bottom: 100px;
}

.section-heading {
  font-size: 2.5rem;
  color: #02021E;
  padding: 2rem 0;
}

#Gallery {
  padding: 4rem 0;
}

@media screen and (max-width:1440px) {
  #Gallery {
    padding: 7rem 0;
  }
}



#Gallery .Gallery-slider-1 {
  height: 30rem;
  padding: 2rem 0;
  position: relative;
}

#Gallery .Gallery-slider {
  height: 30rem;
  padding: 2rem 0;
  position: relative;
}



.Gallery-slide-img{
  border-radius: 2rem;
}



@media screen and (max-width:500px) {
  #Gallery .Gallery-slider-1 {
    height: 45rem;
  }
}

@media screen and (max-width:500px) {
  #Gallery .Gallery-slider {
    height: 45rem;
  }
}



@media screen and (max-width:500px) {
  .Gallery-slide {
    width: 28rem !important;
    height: 36rem !important;
  }

  .Gallery-slide .Gallery-slide-img img {
    width: 28rem !important;
    height: 36rem !important;
  }
}

.Gallery-slide .Gallery-slide-img img {
  width: 37rem;
  border-radius: 2rem;
  object-fit: contain;
}

.Gallery-slide .Gallery-slide-content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}


.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.Gallery-slider-control {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Gallery-slider-control .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

@media screen and (max-width:990px) {
  .Gallery-slider-control .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media screen and (max-width:450px) {
  .Gallery-slider-control .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media screen and (max-width:990px) {
  .Gallery-slider-control .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media screen and (max-width:450px) {
  .Gallery-slider-control .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.Gallery-slider-control .slider-arrow {
  background: var(--white);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.Gallery-slider-control .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.Gallery-slider-control .slider-arrow::after {
  content: '';
}


.main {
  background-color: #CBCBCB;
}

.btn-container {
  margin-bottom: 1.2rem;
}

.vm-btn {
  margin: 50px;
  margin-left: 570px;
  margin-bottom: 0px;
  background-color: #02021E;
  border: 2px solid black;
  border-radius: 2px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  transition-duration: 0.4s;
  padding-left: 70px;
  padding-right: 70px;
}

.vm-btn:hover {
  background-color: #FFFAF2;
  color: black;
  border-radius: 2px;
  border: 2px solid black;
  cursor: pointer;
}

.vm-btn:focus {
  background-color: #02021E;

}

@media screen and (max-width:1440px) {
  .vm-btn {
    margin-left: 525px;
    padding-left: 100px;
    padding-right: 100px;
  }

  .section-subheading {
    font-size: 4rem;
    border-top-width: 0px;
    margin-bottom: 100px;
  }

  .section-heading {
    font-size: 2.5rem;
    color: #02021E;
    padding: 2rem 0;
  }


  #Gallery {
    padding-bottom: 0px;
  }


  .main {
    overflow: hidden;
  }
}

@media screen and (max-width:1024px) {
  .vm-btn {
    padding-left: 90px;
    padding-right: 90px;
    margin-left: 383px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 1rem;
  }

  .section-subheading {
    font-size: 3.5rem;
    border-top-width: 0px;
    margin-bottom: 100px;
  }

  .section-heading {
    font-size: 2rem;
    color: #02021E;
    padding: 2rem 0;
  }

  #Gallery {
    padding-bottom: 0px;
  }

  .Gallery-slider-control .slider-arrow {
    background: var(--white);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    left: 42%;
    transform: translateX(-42%);
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
  }

  .main {
    overflow: hidden;
  }
}

@media screen and (max-width:990px) {
  .vm-btn {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 200px;
    padding-right: 200px;
    margin-left: 255px;

  }


  .section-subheading {
    font-size: 4rem;
    border-top-width: 0px;
    margin-bottom: 60px;
  }

  .section-heading {
    font-size: 2.5rem;
    color: #02021E;
    padding: 2rem 0;
  }

  #Gallery {
    padding-top: 7rem;
    padding-bottom: 0rem;
  }

  .main {
    overflow: hidden;
  }

}


@media screen and (max-width:768px) {
  .vm-btn {
    margin-left: 147px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 200px;
    padding-right: 200px;
  }

  .section-subheading {
    font-size: 3.5rem;
    border-top-width: 0px;
    margin-bottom: 50px;
  }

  #Gallery .Gallery-slider {
    height: 45rem;
    padding: 2rem 0;
    position: relative;
  }

  

  .Gallery-slider {
    margin-bottom: 90px;
  }

  .Gallery-slider-1 {
    margin-bottom: 90px;
  }

  #Gallery .Gallery-slider-1 {
    height: 45rem;
    padding: 2rem 0;
    position: relative;
  }


  #Gallery {
    padding-top: 6rem;
    padding-bottom: 0rem;
  }

  .Gallery-slide .Gallery-slide-img img {
    width: 37rem;
    height: 42rem;
    border-radius: 2rem;
    object-fit: cover;
  }
  
  .btn-container{
    margin-top: -3rem;
  }


  .section-heading {
    font-size: 2rem;
    color: #02021E;
    padding: 2rem 0;
  }

  .main {
    overflow: hidden;
  }
}

@media screen and (max-width:500px) {
  .vm-btn {
    margin-left: 119px;
    padding-left: 90px;
    padding-right: 90px;
  }


  .section-subheading {
    font-size: 3rem;
    border-top-width: 0px;
    margin-bottom: 20px;
    margin-top: -20px;
  }

  .Gallery-slide .Gallery-slide-img img {
    width: 37rem;
    height: 42rem;
    border-radius: 2rem;
    object-fit: cover;
  }
  

  .section-heading {
    font-size: 1.7rem;
    color: #02021E;
    padding: 2rem 0;
  }

  #Gallery {
    padding-top: 5rem;
    padding-bottom: 0rem;
  }


  .Gallery-slider {
    margin-bottom: 0px;
  }

  .Gallery-slider-1 {
    margin-bottom: 0px;
  }

  .btn-container{
    margin-top: -4rem;
  }


  .main {
    overflow: hidden;
  }
}

@media screen and (max-width:450px) {
  .vm-btn {
    margin-left: 76px;
    padding-right: 109px;
    padding-left: 109px;
    padding-top: 20px;
    padding-bottom: 20px;

  }

  .btn-container{
    margin-top: -6rem;
  }


  .section-subheading {
    font-size: 3rem;
    border-top-width: 0px;
    margin-bottom: 20px;
  }

  .section-heading {
    font-size: 1.5rem;
    color: #02021E;
    padding: 2rem 0;
  }

  #Gallery {
    padding-top: 4rem;
    padding-bottom: 0px;
  }
  .Gallery-slide .Gallery-slide-img img {
    width: 37rem;
    height: 42rem;
    border-radius: 2rem;
    object-fit: cover;
  }
  


  .main {
    overflow: hidden;
  }
}

@media screen and (max-width:360px) {
  .vm-btn {
    padding-right: 100px;
    margin-right: 50px;
    margin-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 100px;
  }


  .section-subheading {
    font-size: 2rem;
    border-top-width: 0px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .section-heading {
    font-size: 1.3rem;
    color: #02021E;
    padding: 2rem 0;
    padding-top: 2rem;
    padding-bottom: 0px;
  }

  #Gallery {
    padding-bottom: 0rem;
    padding-top: 2rem;

  }

  #Gallery .Gallery-slider {
    height: 30rem;
    padding: 2rem 0;
    position: relative;
  }

  #Gallery .Gallery-slider-1 {
    height: 30rem;
    padding: 2rem 0;
    position: relative;
  }

  .btn-container {
    margin-bottom: 0.5rem;
    margin-top: 0px;
  }

  .Gallery-slide .Gallery-slide-img img {
    width: 37rem;
    height: 42rem;
    border-radius: 2rem;
    object-fit: cover;
  }
  
  .main {
    overflow: hidden;
  }
}
