
.popup {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .9);
    display: grid;
    place-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 200ms ease-in-out opacity;
    z-index: 100;

}

.popup p{
    color: red;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    padding: 1rem;
}

.popup-content {
    background-image: url('/img/notice1.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 90dvw;
    min-width: 90dvw;
    background-color: #fff;
    text-align: justify;
    box-shadow: 0 0 .5em rgba(0, 0, 0, .5);
    border-radius: .5em;
    opacity: 0;
    transform: translateY(20%);
    transition: 200ms ease-in-out opacity,
                200ms ease-in-out transform;
    position: relative;
}


.showPopup {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
}
@media only screen and (min-width: 550px) {
    .popup-content{
        min-width: 70dvh;
        min-height: 70dvh;
    }
  }